@import "compass/reset";
@import "variables";

.tree {
  height: 600px;
  width: 300px;
  margin: 20px 70px;
  text-align: center;
  float: left;
}

#leaves {
  position: relative;
  height: 350px;
}

.leaf {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 0px 15px;
  position: absolute;
}

.trunk {
  display: inline-block;
  height: 250px;
  width: 100px;
  background-color: rgb(160, 82, 45);
}

.deadTree {
  background-image: url("/images/treeTrace.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 600px;
  width: 300px;
  float: left;
  margin: 20px;
}

body{
  font-family:'URW Gothic L','Century Gothic', futura,  Verdana, sans-serif;
  font-variant:small-caps;
  color:purple;
  background-color: lightgreen;
}