<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/screen.css" media="screen"/>
	<script src="javascripts/libraries/jquery-2.1.1.js"></script>
	<title>Lust for Lassitude</title>	
</head>
<body>

<h1 id="headline">Greetings Travellers</h1>
<div class="main-content">
	
</div>

<div class="side-nav">
	<div class="button-box">
		<a href="http://poetry.lustforlassitude.com" class="circle-button poetry-button box-shadow"></a>
	</div>
	<div class="button-box">
		<a id="on-fire-button" class="circle-button galactic-button box-shadow" href="./galactic-opera"></a>
	</div>
	<div class="button-box">
		<a href="./trees" class="circle-button trees-button box-shadow"></a>
	</div>
	<div class="button-box">
		<a href="http://transmitter.lustforlassitude.com" class="circle-button transmitter-button box-shadow"></a>
	</div>
</div>

<br style="clear:all;"/>
<html>
