<html>
<head>
	<title>Space Trail</title>
	<script src="../javascripts/libraries/jquery-2.1.1.js"></script>
	<script src="../javascripts/libraries/underscore.js"></script>


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../stylesheets/galacticScreen.css" media="screen"/>
</head>
<body>
<div id="star-date">
Star Date: {{ starDate }}
</div>

<div id="space-trail">
	{{{ spaceTrail }}}
</div>

<div id="planets">
	{{{ planets }}}
</div>

	<script src="../javascripts/spaceTrail.js"></script>	
	<script src="../javascripts/planets.js"></script>	
	<a class="link-to-source" href="https://github.com/sacarter10/SpaceTrail">Source code on github</a>
</body>
</html>
