<html>
<head>
	<script src="javascripts/libraries/jquery-2.1.1.js"></script>
	<script src="javascripts/libraries/underscore.js"></script>
	<script src="javascripts/trees.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="stylesheets/treesScreen.css" media="screen"/>
</head>
<body>
<div class="tree">
  <div id="leaves">
  </div>
  <div class="trunk">
  </div>
</div>
<div class="deadTree">
</div>
<br style="clear:both;"
<h1>
Hi There, Welcome To Our Treehouse. 
</h1>
</body>
</html>